/* Element Plus 全局组件样式美化 */

/* ======================== el-card 卡片样式 ======================== */

div.el-card:not(.not-style) {
  --el-card-border-radius: var(--radius);
  --el-card-padding: 16px;
  --el-card-bg-color: var(--background);

  & > .el-card__header {
    padding: 8px 16px;
  }

  &.is-always-shadow {
    box-shadow: var(--shadow-xs);
  }

  & > .el-card__body {
    width: 100%;
    height: 100%;
  }
}

/* ======================== el-segmented 分段控制器样式 ======================== */

div.el-segmented:not(.not-style) {
  --el-segmented-item-selected-color: var(--el-text-color-primary);
  --el-segmented-item-selected-bg-color: var(--background);
  --el-segmented-item-selected-disabled-bg-color: var(--background);
  --el-border-radius-base: var(--radius);
  --el-segmented-item-bg-color: var(--el-fill-color);
  --el-segmented-padding: 3px;

  label.el-segmented__item {
    &.is-disabled {
      color: var(--el-text-color-disabled);
    }

    &.is-selected {
      font-weight: 500;
      box-shadow: var(--shadow-sm);
    }
  }
}

/* ======================== PlusProComponents Page 组件样式 ======================== */
.plus-page:not(.not-style) {
  display: flex;
  flex-direction: column;
  height: 100%;

  .plus-page__table_wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;

    & .plus-table {
      display: flex;
      flex: 1;
      flex-direction: column;

      .el-table {
        --el-table-header-text-color: var(--el-text-color-regular);

        flex: 1;
      }
    }
  }
}
